@font-face {
    font-family: "Roboto";
    src: url("../media/fonts/Roboto-Light.ttf") format("truetype");
}

::-webkit-scrollbar {
    display: none;
}

*{
  font-family: "Roboto";
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  outline: 0;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  perspective: 600px;
}

span{
  color: white;
}

:root{
 --aprilis: white;
 --anthracite: #202020;
 --grey: #404040;
}

.blur {
  position: fixed;
  top: 0px;
  background: white;
  width: 100%;
  height: 100%;
  opacity: .5;
  transition: all .5s ease;
  z-index: 10;
}

.blur.fade_in {
  transition: opacity .5s ease;
  opacity: .5 !important;
}

.fade_out{
  transition: opacity .5s ease;
  opacity: 0 !important;
}

.fade_in{
  transition: opacity .5s ease;
  opacity: 1 !important;
}

.hide{
  display: none !important;
}

.show{
  display: block !important;
}

#loading{
  position: absolute;
  opacity: 1;
  transition: all .5s ease;
  z-index: 10;
}

#loading div{
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  opacity: .5;
}

.inner{
  background: #FF5F6D;
  animation-name: loading;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.outer{
  background: #FF5F6D;
  animation-name: loading-reverse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes loading{
  0%, 100%{
      transform: translate(-50%,-50%) scale(0);
  }
  50%{
      transform: translate(-50%,-50%) scale(1);
  }
}

@keyframes loading-reverse{
  0%, 100%{
      transform: translate(-50%,-50%) scale(1);
  }
  50%{
      transform: translate(-50%,-50%) scale(0);
  }
}

.centered{
  position: relative;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.header{
  width: 100%;
  height: 70px;
  background: var(--anthracite);
}

.header_content{
  position: relative;
  display: inline-block;
  height: 100%;
}

.logo{
  position: relative;
  height: 50px;
  width: 50px;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  cursor: pointer;
  float: left;
  transition: all .5s ease;
}

.logo:hover, .chat:hover{
  transform: translateY(-50%) scale(1.1);
}

.search_box {
    position: relative;
    float: left;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 20px;
    margin-right: 15px;
    transition: all .5s ease;
}

#search{
    position: relative;
    outline: 0px;
    border: none;
    width: 200px;
    height: 30px;
    padding-left: 10px;
    border-radius: 3px;
    font-size: 20px;
    transition: all .5s ease;
}

img{
  position: relative;
  width: 100%;
  height: 100%;
}

.app_name{
  position: relative;
  display: inline-block;
  height: 100%;
  float: left;
  margin-left: 10px;
  font-size: 20px;
}

.online_users{
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100%;
  float: left;
  font-size: 20px;
  cursor: pointer;
}

.frame{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px white solid;
  transition: all .5s ease;
}

.frame:hover{
  transform: translate(-50%,-50%) scale(1.1);
}

.glow{
  border: 2px white solid;
  transform: translate(-50%,-50%) scale(1.1);
}

.chat{
  position: relative;
  display: inline-block;
  height: 35px;
  width: 35px;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.add_button{
  position: relative;
  height: 50px;
  width: 50px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  float: right;
  backface-visibility: hidden;
}

.add_button span{
    color: white;
    font-family: "Roboto";
    font-size: 30px;
}

.content{
  position: relative;
  width: 100%;
  height: calc(100% - 70px);
  overflow-y: scroll;
  background: white;
  overflow-x: hidden;
}

.scroll_disable{
  overflow-y: hidden;
}

.wrapper{
  position: relative;
  display: inline-block;
  max-width: 1240px;
  background: white;
  left: 50%;
  transform: translateX(-50%);
  perspective: 5000px;
  transition: all .5s ease;
}

@media screen and (max-width:1240px){
  .wrapper{
    max-width: 620px;
  }

}

@media screen and (max-width:620px){
  .wrapper{
    max-width: 310px;
  }
  #search{
    max-width: 100px;
  }
  .add_button{
    display: none;
    width: 30px;
    height: 30px;
  }
}

.game{
  position: relative;
  width: 300px;
  height: 150px;
  margin: 5px 5px;
  background: var(--anthracite);
  cursor: pointer;
  float: left;
  opacity: 1;
  transition: all 1s ease, width .5s ease, margin 0s;
}

.game:hover{
  transform: scale(1.03);
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
  transition: all .5s ease;
}

.fade_out_game{
  display: none;
  opacity: 0;
  width: 0px;
  height: 0px;
  margin: 0px;
  transition: all .5s ease, width 1s ease, margin 0s;
}

.remove {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

#info_container{
    background: transparent;
}

.game_content{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transition: transform 1s ease-in-out;
  background: #ececec;
  transform: translateX(105%);
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
  overflow-y: scroll;
}

.game_content.active{
  transform: translateX(0%);
}

#info_container{
    background: transparent;
    text-align: center;
    z-index: 9;
}

#info_container h1, #info_container span{
    color: var(--anthracite);
}

.field{
  margin-bottom: 10px;
}

.label{
  color: grey;
  font-weight: 600;
}

#game_title{
  font-weight: lighter;
}

.comments {
  max-width: 1240px;
  max-height: 305px;
  padding-top: 5px;
  overflow-y: scroll;
}

.comment span{
    color: white !important;
}

.comment {
  color: white;
  background: #FF5F6D;
  background: -webkit-linear-gradient(to left, #FFC371, #FF5F6D);
  background: linear-gradient(to left, #FFC371, #FF5F6D);
  margin-bottom: 5px;
  padding: 5px 10px;
  display: inline-block;
  cursor: pointer;
  transition: all .5s ease;
  max-width: 300px;
  overflow: hidden;
  border-radius: 3px;
}

.wrap {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.add_comment input {
  width: 300px;
  border: 0px;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  transition: all 1s ease;
}

#send_button {
  position: relative;
  cursor: pointer;
  width: 310px;
  height: 50px;
  color: white;
  background: var(--anthracite);
  left: 50%;
  transform: translateX(-50%);
  transition: all .5s ease;
  margin-top: 5px;
}

#sen_button:hover{
  transform: translateX(-50%) scale(1.03);
}

#send_button div{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.add_game{
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px 10px;
  background: #ececec;
  transition: all .5s ease;
  z-index: 10;
}

.add_game input{
  width: 360px;
  border: 0px;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  transition: all 1s ease;
}

.new_game{
  width: 400px;
  background: inherit;
}

#data_description{
  height: 100px;
  border: 0px;
  padding: 5px;
  text-align: center;
  font-family: inherit;
  width: 90%;
  resize: none;
  transition: all 1s ease;
}

#add_button{
  position: relative;
  cursor: pointer;
  width: 370px;
  height: 50px;
  color: white;
  background: var(--anthracite);
  left: 50%;
  transform: translateX(-50%);
  transition: all .5s ease;
}

#add_button:hover{
  transform: translateX(-50%) scale(1.03);
}

#add_button div{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.warning{
  background: #cecece;
}

.trademark{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    bottom: 5px;
    left: 0;
}

.trademark a{
    font-size: 12px;
    text-decoration: none;
    color: #cacaca;
    transition: all .5s ease;
}

.trademark a:hover{
    color: #999;
}
